/* menu floating button
on all pages*/
.menu-toggle {
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  font-weight: bold;
  color: #555;
  display: block;
}

/*whatsapp floating button 
on all pages*/
.whatsapp-float {
  position:fixed;
  bottom: 20px;
  right:20px;

  width: 56px;
  height: 56px;
  border-radius: 50%;

  background-color: #25D366;
  color: white;
  font-size: 28px;

  display: flex;
  align-items:center;
  justify-content: center;

  text-decoration: none;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  z-index: 1000;
}


.whatsapp-float:hover {
  background-color:#82eb87;
}

/*whatsapp fixed button on Workshop
and contact page*/
.whatsapp-button {
  display: inline-block;
  padding: 12px 18px;
  background: #25D366;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: 400;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.whatsapp-button:hover {
  background-color:#82eb87;
}

/*outer wrapping for volunteering buttons on 
the Volunteering page*/
.work-exchange {
  justify-content: center;
  display: flex;
  gap: 20px;
  align-items: center;
}

.work-exchange h3 {
  width: 10rem;
}

/*on mobile have vol buttons below another*/
@media (max-width: 768px) {
  .work-exchange {
    flex-direction: column;
    align-items: center;
  }
}

/*adjust vol button image wrapper*/
.vol-button {
  border-radius: 8px;
  padding: 0 1rem;
  display: inline-block;
}

/*volunteering buttons Workaway and Worldpeckers*/
.vol-button img {
  display: block;
  height: 5rem;
  width: auto;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.vol-button:hover {
  background:rgb(220, 229, 245);
}

/*social buttons wrapper Instagram, Facebook and youtube
on the contact page*/
.social-buttons {
  justify-content: center;
  display: flex;
  gap: 12px;
}

/* social buttons general styling*/
.social-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  text-decoration: none;
  background: rgb(90, 89, 89);

  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.social-button:hover {
  background:rgb(151, 154, 211);
}

/*Instagram button*/
.social-button.IG svg {
  width: 40px;
  height: 40px;
  stroke: #f4f7f2;
  stroke-width: 2.5;
  fill: none;
}

/*facebook button*/
.social-button.FB svg {
  width: 40px;
  height: 40px;
  stroke: none;
  fill: #f4f7f2;
}

/*youtube button needs correction to wrapper due to different format*/
.social-button.YT {
  background: transparent;
  box-shadow: none;
}

/*youtube button*/
.social-button.YT svg {
  fill: rgb(90, 89, 89);
}

.social-button.YT svg:hover {
  fill:rgb(151, 154, 211);
}

/*location marker, technically not a button,
on contact page*/
.location-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 24 24" fill="red" xmlns="http://www.w3.org/2000/svg"><path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zM12 11.5c-1.38 0-2.5-1.12-2.5-2.5S10.62 6.5 12 6.5s2.5 1.12 2.5 2.5S13.38 11.5 12 11.5z"/></svg>') no-repeat center/contain;
}