body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background: #f4f7f2;
  color: #2f3e2f;
}

body h1 {
  color: #3a5a40;
  margin:0;
  font-family: 'Patrick Hand', sans-serif;
  font-weight: 700;
  font-size: 7rem;
}

/* adjust for mobile devices*/
@media (max-width: 768px) {
  body h1 {
    font-weight: 400;
  }
}

body h2 {
  color: #3a5a40;
  margin: 0;
}

header {
  text-align: right;
  background-image: url('images/cacao_slice.jpg');
  background-size: contain;
  width: 100%;
  aspect-ratio: 4032/637;
  background-position: center;
  background-repeat: no-repeat;
}

main {
  padding-bottom: 2rem;
  text-align: center;
}

footer {
  background: #9ec992;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
}

img {
  max-width: 600px;
  width: 100%;
  height: auto;
  display: block;
  margin: 20px auto;
}

html {
  scroll-behavior: smooth;
}

/*headline styling*/
.headline {
  background: rgb(203, 219, 203);
  padding-top: 2rem;
  padding-bottom: 1rem;
  box-sizing: border-box;
}

/* main page styling */
.main-div {
  display: flex;
  padding: 2rem 18vw;
  gap: 4vw;
  align-items: center
}

.main-div.reverse {
  flex-direction: row-reverse;
}

.main-img-box {
  justify-content: center;
}

.main-img {
  width: 30vw;
  height: auto;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.main-text {
  width: 30vw;
  hyphens: auto;
}

.main-text h3 {
  text-align: center;
}

.main-text p {
  text-align: justify;
}

/* adjust for mobile devices*/
@media (max-width: 768px) {
  .main-div, .main-div.reverse {
    flex-direction: column;
    align-items: center;
  }

  .main-img, .main-text {
    width: 100%
  }

  .main-text p {
    text-align: center;
  }
}

/*contact information grid*/
.Contacts {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 30px;
  justify-content: center;
  margin-bottom: 24px;
}

.Contact h3 {
  text-align: center;
}

.Contact p {
  text-align: center;
}

/* adjust for mobile devices*/
@media (max-width: 768px) {
  .Contacts {
    grid-template-columns: 1fr;
  }

  .Contact p {
    text-align: left;
  }
}